// Specific CSS for your home-page
.home {
  height: 90vh;
}


#replace-me:after {
  content: "";
  animation: spin 20s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

@keyframes spin {
  0% {
    content: "d'aller en partiel";
  }
  25% {
    content: "d'aider Alex à déménager";
  }
  50% {
    content: "vous rendre à l’enterrement de Patrick";
  }
  75% {
    content: "vous rendre à l’enterrement de Patrick";
  }
  100% {
    content: "se rendre au 96ᵉ anniversaire de votre grande-tante";
  }
}
