// Specific CSS for your home-page
.home {
  height: 90vh;
}

#replace-me:after {
  content: "";
  animation: spin 20s linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  animation-play-state: running;
}

@keyframes spin {
  0% {
    content: "d'aller en partiel";
  }
  25% {
    content: "d'aider Alex à déménager";
  }
  50% {
    content: "d'aller au spectacle de danse de ta nièce";
  }
  75% {
    content: "de vous rendre à l'accouchement de votre femme";
  }
  100% {
    content: "de vous rendre au 96ᵉ anniversaire de votre grande-tante";
  }
}

.title {
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-size: 20px;
}


.form-control {
  width: 250px;
}
.partner-avatar {
  object-fit: cover;
}
