<div class="container">
  <div class="row">
    <div class="home col d-flex flex-column justify-content-center">
    <div class="ms-2">
        <h3>Soyons honnêtes, vous avez mieux à faire que... <span id="replace-me"></span></h3>
        <p>Welcome!</p>
    </div>
      <div>
        <a href="#partners" class="btn btn-home">CHECK IT OUT</a>
      </div>
    </div>
  </div>
  <div id="partners" class="row vh-100">
  </div>
</div>
<%# <span id="replace-me"></span>. %>
