<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="d-flex justify-content-center container">

  <div class="row gap-4 text-center">
    <h2 class="w-100 my-4">Welcome to Saint-Tropez</h2>
    <div class="card rounded" style="width: 18rem; border-radius: 12px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);"">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card rounded" style="width: 18rem; border-radius: 12px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);"">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
    <div class="card rounded" style="width: 18rem; border-radius: 12px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);"">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

</div>
