<div class="container">
  <div class="row">
    <div class="home col d-flex flex-column justify-content-center align-items-center">
      <h1>Soyons honnêtes, vous avez mieux à faire.</h1>
      <p>Welcome!</p>
      <a href="#partners" class="btn btn-home">CHECK IT OUT</a>
    </div>
  </div>
  <div id="partners" class="row vh-100">
  </div>
</div>
