<div class="container">
  <div class="row">
    <div class="home col d-flex flex-column justify-content-center">
    <div class="ms-2">
        <h3>Soyons honnêtes, vous avez mieux à faire que... <span id="replace-me"></span></h3>
        <p>Welcome!</p>
    </div>
      <div>
        <a href="#partners" class="btn btn-home">CHECK IT OUT</a>
      </div>
    </div>
  </div>
  <div id="partners" class="row vh-100">

<div class="container">
  <div class="row gap-3 d-flex justify-content-center">
    <% @partners.each do |partner| %>
      <div class="col-lg-3 col-md-6 col-12 bg-white p-4 mt-4 d-flex align-items-center card shadow border-0 rounded-lg"
          style="border-radius: 32px; height: 300px; background-image: url('<%= partner.image %>'); background-size: cover; background-repeat: no-repeat; background-position: center;">
          <a href="<%= partner_path(partner) %>">
              <div class="homepage_card-overlay d-flex flex-column align-items-center">
                <h3 class="price-text" style="color: black;"><%= partner.price %>€</h3>
                <h4><%= partner.title %></h4>
              </div>
          </a>
      </div>
    <% end %>
  </div>
</div>
</div>
</div>
</div>
<%# <span id="replace-me"></span>. %>
