a {
  text-decoration: none;
}

.btn {
  color: #f8f9fa;
  background-color: #0d0c22;
  font-size: 14px;
  font-weight: 500;
  padding: 8px 16px;
  border-radius: 32px;
  margin-left: 4px;
  transition: ease 0.3s;
}

.btn-sign {
  color: #0d0c22;
  background-color: #f8f9fa;
}

.btn-sign:hover {
  opacity: 0.5;
}

.btn-login:hover {
  color: #f8f9fa;
  background-color: rgba($color: #0d0c22, $alpha: 0.7);
}
