.links-form {
  font-size: 16px;
  color: #B197FC;
}

.links-form:hover {
  color: #d6c9ff;
}

#sign-up {
  display: flex;
}

#forgot-password {
  display: flex;
}

h2 {
  font-family: "Archivo", sans-serif;
}
