<nav class="navbar bg-body-tertiary">
  <div class="container">
    <div class="d-flex justify-content-center">
      <%# <i class="fa-regular fa-face-grin-tongue-wink fa-2xl" style="color: #B197FC"></i> %>
      <h5 style="color: #B197FC;">Partners In Crime</h5>
    </div>
    <div>
      <a class="btn btn-outline border border-3" style="color: #B197FC; border-color: #B197FC" type="submit">Sign in</a>
      <a class="btn btn-outline border border-3" style="color: #B197FC; border-color: #B197FC" type="submit">Log in</a>
    </div>
  </div>
</nav>
